html, body {position: relative}
body, .x-body {
  
    border-color: #535353 -moz-use-text-color #535353 #535353;
    border-style: solid none none;
    border-width: 0 medium medium;
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 100%;
    line-height: 15px;
    margin: 0;
    padding: 0;
    top: 0;
}
a:link {
    color: white;
/*     font-weight: normal; */
    text-decoration: none;
}


.link {
    color: #0071ff;
    cursor: pointer;
    font: 14px tahoma,arial,helvetica,sans-serif;
    text-decoration: none;
}

.odd{background-color: #f5f5f5}

.even{background-color: #fff}


.shoppingbasketicon {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/shoppingcart16.png") !important;
    background-origin: padding-box;
    background-position: 0 center;
    background-repeat: repeat;
    background-size: auto auto;
    
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 16px;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 0;
    vertical-align: bottom;
    width: 16px;
}

.ui-dialog{
        box-shadow: 0px 0px 12px 4px #444;
}
.x-window{
        box-shadow: 0px 0px 12px 4px #444;
}

.icon-shoppingbasket {
    background-image: url("images/shoppingcart16.png") !important;
}

.icon-search24 {
        background-image: url("images/search-24x24.png") !important;
}

.icon-close {
        background-image: url("images/close.gif") !important;
}

.icon-download {
        background-image: url("images/save-icon.png") !important;
}

.icon-view {
        background-image: url("images/text_icon.png") !important;
}
.ajaxloader{
          background-image: url("images/ajax-loader.gif");
          width:32px;
          height:32px;
}

