
fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

div#users-contain {
	width: 350px;
	margin: 20px 0;
}

div#users-contain table {
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
}

div#users-contain table td,div#users-contain table th {
	border: 1px solid #eee;
	padding: .6em 10px;
	text-align: left;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

.datanodebutton{
	width:175px;
	
}
#datanodebuttons{
	padding:0px;
	margin:0px;
}

#loginDialog{
	
	overflow:hidden;
	width: 900px;
	height:100%;
	margin:0px;
	padding:0px;
}
