
fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

div#users-contain {
	width: 350px;
	margin: 20px 0;
}

div#users-contain table {
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
}

div#users-contain table td,div#users-contain table th {
	border: 1px solid #eee;
	padding: .6em 10px;
	text-align: left;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

.datanodebutton{
	width:175px;
	margin:4px;
	
}

#openidcompositor{
	
	
}

#loginDialog{
	
	overflow:hidden;
	width: 900px;
	height:100%;
	margin:0px;
	padding:0px;
}

.oauth2loginbox{
	 line-height: 40px;
	 border-radius:4px;
	 background-color:#EEE;
	 border:1px solid #CCC;
	 width:450px;
	 padding:4px;
	 text-align:center;
	 padding:5px;
	 box-shadow: 0px 0px 2px #555;
}
.oauth2loginbox:hover{
	  border:1px solid #888;
	 background-color:#DDD;
	 
}
.oauth2loginbox img{
	vertical-align: middle;
	width:40px;
	height:40px;
	margin-right:5px;
	float:left;
}

#c4i_customopenidcomposer{
	display:none;
	padding:20px;
	border:1px solid #EEE;
	border-radius:4px;
	margin:3px;
	
}

.openid_identifier {
	background: #fff url("/impactportal/images/openid.gif") no-repeat;
	background-position: 0 50%;
	padding-left: 18px;
	border: 1px solid gray;
	height: 18px;
	padding-top: 3px;
	padding-bottom: 3px;
	
	width: 95%;
}

.logo_USA {
	background-image: url("/impactportal/images/countries/USA.png") !important;
	width: 16px;
	height: 16px;
}

.logo_UK {
	background-image: url("/impactportal/images/countries/UK.png") !important;
	width: 16px;
	height: 16px;
}

.logo_Sweden {
	background-image: url("/impactportal/images/countries/Sweden.png") !important;
	width: 16px;
	height: 16px;
}

.logo_Germany {
	background-image: url("/impactportal/images/countries/Germany.png") !important;
	width: 16px;
	height: 16px;
}

.logo_France {
	background-image: url("/impactportal/images/countries/France.png") !important;
	width: 16px;
	height: 16px;
}

.logo_China {
	background-image: url("/impactportal/images/countries/China.png") !important;
	width: 16px;
	height: 16px;
}

.logo_Italy {
	background-image: url("/impactportal/images/countries/Italy.png") !important;
	width: 16px;
	height: 16px;
}

.logo_Australie {
	background-image: url("/impactportal/images/countries/Australia.png") !important;
	width: 16px;
	height: 16px;
}

.logindialogfooter{
	border:none;
	padding:5px;
	background:white;
	color:#666;
	font-size:12px;
	margin:0px;
}

.c4i_openidcompositor_registerspan{
	float:right;
	margin-right:20px;
}