body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
}

h1#page-title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.region-content h3 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.region-content h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 22px;
  font-weight: 700;
}

#globalfullwrapper {
  background-repeat: repeat;
}
#headertopwrapper {
  background-repeat: repeat;
}
#headertopcontainer {
  padding-top   : 5px;
  padding-bottom: 5px;
  color: #000;
}
#headertopcontainer .text-color:not(.btn) {
  color: #000;
}
#headertopcontainer .btn-filter {
  color: #000;
}
#headertopcontainer .btn-filter.active {
  border-color: #000;
}
#headertopcontainer .heavy {
  color: #8c8c8c;
}
#headertopcontainer a:not(.btn) {
  color: #000;
}
#headertopcontainer a:hover:not(.btn) {
  color: #941333;
}
#headertopcontainer .hover-color:not(.btn) {
  color: #941333;
}
#globalheaderwrapper {
  background-color: #941333;
  background-repeat: repeat;
}
#globalheaderwrapper a.bg-link-outer:not(.btn) {
  color: #941333;
}
#globalheaderwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ac163b;
}
#globalheaderwrapper .line {
  border-bottom-color: #ac163b;
}
#globalheaderwrapper .line span {
  background-color: #941333;
}
#globalheaderwrapper .title-line .block-title span {
  background-color: #941333;
}
#globalheadercontainer {
  padding-top   : 18px;
  padding-bottom: 18px;
  color: #fff;
}
#globalheadercontainer .text-color:not(.btn) {
  color: #fff;
}
#globalheadercontainer .btn-filter {
  color: #fff;
}
#globalheadercontainer .btn-filter.active {
  border-color: #fff;
}
#globalheadercontainer .heavy {
  color: #616161;
}
#globalheadercontainer a:not(.btn) {
  color: #fff;
}
#globalheadercontainer a:hover:not(.btn) {
  color: #000;
}
#globalheadercontainer .hover-color:not(.btn) {
  color: #000;
}
#fullwidthslider1wrapper {
  background-color: #eee;
  background-repeat: repeat;
}
#fullwidthslider1wrapper a.bg-link-outer:not(.btn) {
  color: #eee;
}
#fullwidthslider1wrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #dbdbdb;
}
#fullwidthslider1wrapper .line {
  border-bottom-color: #dbdbdb;
}
#fullwidthslider1wrapper .line span {
  background-color: #eee;
}
#fullwidthslider1wrapper .title-line .block-title span {
  background-color: #eee;
}
#headerbottomwrapper {
  background-repeat: repeat;
}
#highlighthomewrapper {
  background-color: #f4f4f4;
  background-repeat: repeat;
}
#highlighthomewrapper a.bg-link-outer:not(.btn) {
  color: #f4f4f4;
}
#highlighthomewrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #e0e0e0;
}
#highlighthomewrapper .line {
  border-bottom-color: #e0e0e0;
}
#highlighthomewrapper .line span {
  background-color: #f4f4f4;
}
#highlighthomewrapper .title-line .block-title span {
  background-color: #f4f4f4;
}
#highlighthomecontainer a:not(.btn) {
  color: #941333;
}
#highlighthomecontainer a:hover:not(.btn) {
  color: #941333;
}
#highlighthomecontainer .hover-color:not(.btn) {
  color: #941333;
}
#highlightbottomwrapper {
  background-repeat: repeat;
}
#highlightbottomcontainer a:not(.btn) {
  color: #aa1438;
}
#toppagewrapper {
  background-image: url("../theme/europe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#toppagecontainer {
  padding-top   : 20px;
  padding-bottom: 20px;
}
#globalpageheaderwrapper {
  background-color: #f4f4f4;
  background-repeat: repeat;
}
#globalpageheaderwrapper a.bg-link-outer:not(.btn) {
  color: #f4f4f4;
}
#globalpageheaderwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #e0e0e0;
}
#globalpageheaderwrapper .line {
  border-bottom-color: #e0e0e0;
}
#globalpageheaderwrapper .line span {
  background-color: #f4f4f4;
}
#globalpageheaderwrapper .title-line .block-title span {
  background-color: #f4f4f4;
}
#globalpageheadercontainer {
  padding-top   : 20px;
  padding-bottom: 30px;
  color: #000;
}
#globalpageheadercontainer .text-color:not(.btn) {
  color: #000;
}
#globalpageheadercontainer .btn-filter {
  color: #000;
}
#globalpageheadercontainer .btn-filter.active {
  border-color: #000;
}
#globalpageheadercontainer .heavy {
  color: #8c8c8c;
}
#globalpageheadercontainer a:not(.btn) {
  color: #941333;
}
#globalpageheadercontainer a:hover:not(.btn) {
  color: #6d0624;
}
#globalpageheadercontainer .hover-color:not(.btn) {
  color: #6d0624;
}
#heighlightwrapper {
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: repeat;
}
#heighlightwrapper a.bg-link-outer:not(.btn) {
  color: rgba(0, 0, 0, 0.1);
}
#heighlightwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: rgba(20, 20, 20, 0.1);
}
#heighlightwrapper .line {
  border-bottom-color: rgba(20, 20, 20, 0.1);
}
#heighlightwrapper .line span {
  background-color: rgba(0, 0, 0, 0.1);
}
#heighlightwrapper .title-line .block-title span {
  background-color: rgba(0, 0, 0, 0.1);
}
#heighlightcontainer {
  background-color: #cecebf;
  color: #000;
}
#heighlightcontainer *:not(.btn) {
  border-color: #c0c0ad;
}
#heighlightcontainer a.bg-link-inner:not(.btn) {
  color: #cecebf;
}
#heighlightcontainer .line {
  border-bottom-color: #c0c0ad;
}
#heighlightcontainer .line span {
  background-color: #cecebf;
}
#heighlightcontainer .inner-bg {
  background-color: #cecebf;
}
#heighlightcontainer .text-color:not(.btn) {
  color: #000;
}
#heighlightcontainer .btn-filter {
  color: #000;
}
#heighlightcontainer .btn-filter.active {
  border-color: #000;
}
#heighlightcontainer .heavy {
  color: #8c8c8c;
}
#heighlightcontainer a:not(.btn) {
  color: #941333;
}
#heighlightcontainer a:hover:not(.btn) {
  color: #6d0624;
}
#heighlightcontainer .hover-color:not(.btn) {
  color: #6d0624;
}
#heighlight2wrapper {
  background-color: #d5d9d7;
  background-repeat: repeat;
}
#heighlight2wrapper a.bg-link-outer:not(.btn) {
  color: #d5d9d7;
}
#heighlight2wrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #c3c9c6;
}
#heighlight2wrapper .line {
  border-bottom-color: #c3c9c6;
}
#heighlight2wrapper .line span {
  background-color: #d5d9d7;
}
#heighlight2wrapper .title-line .block-title span {
  background-color: #d5d9d7;
}
#heighlight2container {
  background-color: #217d00;
  color: #000;
}
#heighlight2container *:not(.btn) {
  border-color: #299c00;
}
#heighlight2container a.bg-link-inner:not(.btn) {
  color: #217d00;
}
#heighlight2container .line {
  border-bottom-color: #299c00;
}
#heighlight2container .line span {
  background-color: #217d00;
}
#heighlight2container .inner-bg {
  background-color: #217d00;
}
#heighlight2container .text-color:not(.btn) {
  color: #000;
}
#heighlight2container .btn-filter {
  color: #000;
}
#heighlight2container .btn-filter.active {
  border-color: #000;
}
#heighlight2container .heavy {
  color: #8c8c8c;
}
#heighlight2container a:not(.btn) {
  color: #fff;
}
#heighlight2container a:hover:not(.btn) {
  color: #eee;
}
#heighlight2container .hover-color:not(.btn) {
  color: #eee;
}
#serviceswrapper {
  background-color: #cecebf;
  background-repeat: repeat;
}
#serviceswrapper a.bg-link-outer:not(.btn) {
  color: #cecebf;
}
#serviceswrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #c0c0ad;
}
#serviceswrapper .line {
  border-bottom-color: #c0c0ad;
}
#serviceswrapper .line span {
  background-color: #cecebf;
}
#serviceswrapper .title-line .block-title span {
  background-color: #cecebf;
}
#servicescontainer {
  padding-top   : 40px;
  padding-bottom: 40px;
  color: #000;
}
#servicescontainer .text-color:not(.btn) {
  color: #000;
}
#servicescontainer .btn-filter {
  color: #000;
}
#servicescontainer .btn-filter.active {
  border-color: #000;
}
#servicescontainer .heavy {
  color: #8c8c8c;
}
#servicescontainer a:not(.btn) {
  color: #000;
}
#focuswrapper {
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#focuswrapper a.bg-link-outer:not(.btn) {
  color: #333;
}
#focuswrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #434343;
}
#focuswrapper .line {
  border-bottom-color: #434343;
}
#focuswrapper .line span {
  background-color: #333;
}
#focuswrapper .title-line .block-title span {
  background-color: #333;
}
#focuscontainer {
  padding-top   : 25px;
  padding-bottom: 25px;
  color: #bec0aa;
}
#focuscontainer .text-color:not(.btn) {
  color: #bec0aa;
}
#focuscontainer .btn-filter {
  color: #bec0aa;
}
#focuscontainer .btn-filter.active {
  border-color: #bec0aa;
}
#focuscontainer .heavy {
  color: #727556;
}
#focuscontainer a:not(.btn) {
  color: #fff;
}
#focuscontainer a:hover:not(.btn) {
  color: #bec0aa;
}
#focuscontainer .hover-color:not(.btn) {
  color: #bec0aa;
}
#mainwrapper {
  background-color: #f4f4f4;
  background-repeat: repeat;
}
#mainwrapper a.bg-link-outer:not(.btn) {
  color: #f4f4f4;
}
#mainwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #e0e0e0;
}
#mainwrapper .line {
  border-bottom-color: #e0e0e0;
}
#mainwrapper .line span {
  background-color: #f4f4f4;
}
#mainwrapper .title-line .block-title span {
  background-color: #f4f4f4;
}
#maincontainer {
  padding-top   : 30px;
  padding-bottom: 30px;
  color: #000;
}
#maincontainer .text-color:not(.btn) {
  color: #000;
}
#maincontainer .btn-filter {
  color: #000;
}
#maincontainer .btn-filter.active {
  border-color: #000;
}
#maincontainer .heavy {
  color: #8c8c8c;
}
#maincontainer a:not(.btn) {
  color: #941333;
}
#maincontainer a:hover:not(.btn) {
  color: #6d0624;
}
#maincontainer .hover-color:not(.btn) {
  color: #6d0624;
}
#mainbottomwrapper {
  background-color: #fff;
  background-repeat: repeat;
}
#mainbottomwrapper a.bg-link-outer:not(.btn) {
  color: #fff;
}
#mainbottomwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ebebeb;
}
#mainbottomwrapper .line {
  border-bottom-color: #ebebeb;
}
#mainbottomwrapper .line span {
  background-color: #fff;
}
#mainbottomwrapper .title-line .block-title span {
  background-color: #fff;
}
#mainbottomcontainer {
  padding-top   : 40px;
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.32);
  color: #000;
}
#mainbottomcontainer *:not(.btn) {
  border-color: rgba(235, 235, 235, 0.32);
}
#mainbottomcontainer a.bg-link-inner:not(.btn) {
  color: rgba(255, 255, 255, 0.32);
}
#mainbottomcontainer .line {
  border-bottom-color: rgba(235, 235, 235, 0.32);
}
#mainbottomcontainer .line span {
  background-color: rgba(255, 255, 255, 0.32);
}
#mainbottomcontainer .inner-bg {
  background-color: rgba(255, 255, 255, 0.32);
}
#mainbottomcontainer .text-color:not(.btn) {
  color: #000;
}
#mainbottomcontainer .btn-filter {
  color: #000;
}
#mainbottomcontainer .btn-filter.active {
  border-color: #000;
}
#mainbottomcontainer .heavy {
  color: #8c8c8c;
}
#mainbottomcontainer .dark {
  color: #606060;
}
#mainbottomcontainer .dark-color {
  color: #606060;
}
#mainbottomcontainer .dark-bg {
  background-color: #606060;
}
#mainbottomcontainer .dark-border {
  border-color: #606060;
}
#mainbottomcontainer .light {
  color: #bfbfbf;
}
#mainbottomcontainer .light-color {
  color: #bfbfbf;
}
#mainbottomcontainer .light-bg {
  background-color: #bfbfbf;
}
#mainbottomcontainer .light-border {
  border-color: #bfbfbf;
}
#mainbottomcontainer .light-color-block-title .block-title {
  color: #bfbfbf;
}
#survayregionwrapper {
  background-color: #f47738;
  background-repeat: repeat;
}
#survayregionwrapper a.bg-link-outer:not(.btn) {
  color: #f47738;
}
#survayregionwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #f36721;
}
#survayregionwrapper .line {
  border-bottom-color: #f36721;
}
#survayregionwrapper .line span {
  background-color: #f47738;
}
#survayregionwrapper .title-line .block-title span {
  background-color: #f47738;
}
#survayregioncontainer {
  padding-top   : 20px;
  padding-bottom: 20px;
  color: #fff;
}
#survayregioncontainer .text-color:not(.btn) {
  color: #fff;
}
#survayregioncontainer .btn-filter {
  color: #fff;
}
#survayregioncontainer .btn-filter.active {
  border-color: #fff;
}
#survayregioncontainer .heavy {
  color: #616161;
}
#survayregioncontainer a:not(.btn) {
  color: #fff;
}
#survayregioncontainer a:hover:not(.btn) {
  color: #fff;
}
#survayregioncontainer .hover-color:not(.btn) {
  color: #fff;
}
#postscriptbottomwrapper {
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
}
#postscriptbottomwrapper a.bg-link-outer:not(.btn) {
  color: #eee;
}
#postscriptbottomwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #dbdbdb;
}
#postscriptbottomwrapper .line {
  border-bottom-color: #dbdbdb;
}
#postscriptbottomwrapper .line span {
  background-color: #eee;
}
#postscriptbottomwrapper .title-line .block-title span {
  background-color: #eee;
}
#postscriptbottomcontainer {
  padding-top   : 40px;
  padding-bottom: 40px;
  color: #000;
}
#postscriptbottomcontainer .text-color:not(.btn) {
  color: #000;
}
#postscriptbottomcontainer .btn-filter {
  color: #000;
}
#postscriptbottomcontainer .btn-filter.active {
  border-color: #000;
}
#postscriptbottomcontainer .heavy {
  color: #8c8c8c;
}
#postscriptbottomcontainer a:not(.btn) {
  color: #941333;
}
#postscriptbottomcontainer a:hover:not(.btn) {
  color: #6d0624;
}
#postscriptbottomcontainer .hover-color:not(.btn) {
  color: #6d0624;
}
#postscriptbottomcontainer .dark {
  color: #8f8f8f;
}
#postscriptbottomcontainer .dark-color {
  color: #8f8f8f;
}
#postscriptbottomcontainer .dark-bg {
  background-color: #8f8f8f;
}
#postscriptbottomcontainer .dark-border {
  border-color: #8f8f8f;
}
#postscriptbottomcontainer .light {
  color: #fff;
}
#postscriptbottomcontainer .light-color {
  color: #fff;
}
#postscriptbottomcontainer .light-bg {
  background-color: #fff;
}
#postscriptbottomcontainer .light-border {
  border-color: #fff;
}
#postscriptbottomcontainer .light-color-block-title .block-title {
  color: #fff;
}
#mapwrapper {
  background-color: #eee;
  background-repeat: repeat;
}
#mapwrapper a.bg-link-outer:not(.btn) {
  color: #eee;
}
#mapwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #dbdbdb;
}
#mapwrapper .line {
  border-bottom-color: #dbdbdb;
}
#mapwrapper .line span {
  background-color: #eee;
}
#mapwrapper .title-line .block-title span {
  background-color: #eee;
}
#globalfooterwrapper {
  background-color: #fff;
  background-repeat: repeat;
}
#globalfooterwrapper a.bg-link-outer:not(.btn) {
  color: #fff;
}
#globalfooterwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ebebeb;
}
#globalfooterwrapper .line {
  border-bottom-color: #ebebeb;
}
#globalfooterwrapper .line span {
  background-color: #fff;
}
#globalfooterwrapper .title-line .block-title span {
  background-color: #fff;
}
#globalfootercontainer {
  padding-top   : 30px;
  padding-bottom: 30px;
  color: #000;
}
#globalfootercontainer .text-color:not(.btn) {
  color: #000;
}
#globalfootercontainer .btn-filter {
  color: #000;
}
#globalfootercontainer .btn-filter.active {
  border-color: #000;
}
#globalfootercontainer .heavy {
  color: #8c8c8c;
}
#globalfootercontainer a:not(.btn) {
  color: #000;
}
#globalfootercontainer a:hover:not(.btn) {
  color: #000;
}
#globalfootercontainer .hover-color:not(.btn) {
  color: #000;
}
#globalfootertopwrapper {
  background-color: #941333;
  background-repeat: repeat;
}
#globalfootertopwrapper a.bg-link-outer:not(.btn) {
  color: #941333;
}
#globalfootertopwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ac163b;
}
#globalfootertopwrapper .line {
  border-bottom-color: #ac163b;
}
#globalfootertopwrapper .line span {
  background-color: #941333;
}
#globalfootertopwrapper .title-line .block-title span {
  background-color: #941333;
}
#globalfootertopcontainer {
  padding-top   : 10px;
  padding-bottom: 10px;
  color: #fff;
}
#globalfootertopcontainer .text-color:not(.btn) {
  color: #fff;
}
#globalfootertopcontainer .btn-filter {
  color: #fff;
}
#globalfootertopcontainer .btn-filter.active {
  border-color: #fff;
}
#globalfootertopcontainer .heavy {
  color: #616161;
}
#globalfootertopcontainer a:not(.btn) {
  color: #fff;
}
#globalfootertopcontainer a:hover:not(.btn) {
  color: #fff;
}
#globalfootertopcontainer .hover-color:not(.btn) {
  color: #fff;
}
#globalfooterbottomwrapper {
  background-color: #222;
  background-repeat: repeat;
}
#globalfooterbottomwrapper a.bg-link-outer:not(.btn) {
  color: #222;
}
#globalfooterbottomwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #343434;
}
#globalfooterbottomwrapper .line {
  border-bottom-color: #343434;
}
#globalfooterbottomwrapper .line span {
  background-color: #222;
}
#globalfooterbottomwrapper .title-line .block-title span {
  background-color: #222;
}
#globalfooterbottomcontainer {
  padding-top   : 20px;
  padding-bottom: 20px;
  color: #ecf0f1;
}
#globalfooterbottomcontainer .text-color:not(.btn) {
  color: #ecf0f1;
}
#globalfooterbottomcontainer .btn-filter {
  color: #ecf0f1;
}
#globalfooterbottomcontainer .btn-filter.active {
  border-color: #ecf0f1;
}
#globalfooterbottomcontainer .heavy {
  color: #556e74;
}
#globalfooterbottomcontainer a:not(.btn) {
  color: #fff;
}
#globalfooterbottomcontainer a:hover:not(.btn) {
  color: #95a5a6;
}
#globalfooterbottomcontainer .hover-color:not(.btn) {
  color: #95a5a6;
}
#falsewrapper {
  background-repeat: repeat;
}
