@CHARSET "UTF-8";

       
/*WPS Report */

.wpsreport
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
.wpsreport td, .wpsreport th 
{
font-size:1em;
border:1px solid #759FDF;
padding:3px 7px 2px 7px;
}
.wpsreport th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#6080B0;
color:#ffffff;
}
.wpsreport tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}