.c4i-fileviewer-container{
  /*height:600px;
  border:1px solid blue;
  display:block;
  overflow:scroll;*/
}
.c4i-fileviewer-dataset-baseimage{

  width:20px;
  height:18px;
  line-height:0px;
  display:inline-block;
 cursor: pointer;
  margin:1px 5px 1px 1px;
  padding:0px;
  float:left;
   overflow: hidden;
 background-size: 20px 18px;

}
.c4i-fileviewer-dataset-baseimage:hover{
    opacity: 0.4;
    /*filter: alpha(opacity=40);*/ /* For IE8 and earlier */
}

.c4i-fileviewer-dataset-imgcollapsed{
    background-image:url("../images/icon_right.png") !important;
}
.c4i-fileviewer-dataset-imgexpand{
    background-image:url("../images/icon_down.png") !important;
}

.c4i-fileviewer-dataset-imgchecked{
    background-image:url("../images/icon_checkboxchecked.png") !important;
}
.c4i-fileviewer-dataset-imgunchecked{
    background-image:url("../images/icon_checkboxunchecked.png") !important;
}

.c4i-fileviewer-dataset-process{
    background-image:url("../images/icon_calculator.png") !important;
}

.c4i-fileviewer-dataset-download{
    background-image:url("../images/icon_download.png") !important;
}

.c4i-fileviewer-dataset-expandedarea{
/*   margin:0px 0px 1px 17px; */
/* padding:2px; */
/*  background-color:#FFF;*/
  /*border-top:1px solid #AAB;
  border-left:1px solid #AAB;
  border-bottom:1px solid #AAB;*/
 /* border-bottom:2px solid #DDD;*/
  display:block;
  /*  background-color:#FFF;*/
}

.c4i-fileviewer-resultitem{
 padding:0px;
 margin:0px;
 overflow:hidden;
 
 line-height:16px;

/* background-color: #FFF;*/
 color:black;
 display:block;
 /*border-top:1px solid #DDD;
 border-left:1px solid #DDD;
 border-right:1px solid #DDD;*/
 border-bottom:2px solid #DDD;
 width:100%;
}
.c4i-fileviewer-resultitem-content{
  line-height:20px;
   display:block;
    width:100%;
    height:20px;
 font-weight: normal;
  background:#428bca;
  font-size:12px;
  color:white;
   /*background: rgba(0,0,0,.30);*/
  border-bottom-style:solid;
  border-color:#91847C;
  border-bottom-width:1px;
}

.c4i-fileviewer-resultitem-content:hover{
    opacity: 0.8;
    /*filter: alpha(opacity=80); *//* For IE8 and earlier */
}


.c4i-fileviewer-table  {
    border-collapse: collapse;
    width:100%;
    table-layout:fixed;
    

    border-spacing: 0;
}

.c4i-fileviewer-table th, .c4i-fileviewer-table td {
   border: 1px solid #ddd; 
   padding: 1px 4px 1px 4px;
/*   text-align: left; */
    font-size:11px;
/*     padding: 8px; */
    vertical-align: middle;
     
}

.c4i-fileviewer-table-td-name{
  width:250px;
  text-align: left;
}

.c4i-fileviewer-table-td-value{
  text-align: left;
  word-wrap:break-word;
}


.c4i-fileviewer-table tr:nth-child(even){background-color: #f5f5f5}
.c4i-fileviewer-table tr:nth-child(odd){background-color: #ffffff}



/*.c4i-fileviewer-table tr:hover {background-color: #f0f0f0 !important}*/

.c4i-fileviewer-table th{
     background: none repeat scroll 0 0 #428bca;
  
  
    color: white;
    font-size: 16px;
    font-weight: normal;
  
  
}


.c4i-fileviewer-body{
  padding:0px;
  margin:0px;
  height:100%;
  background:#e0ebeb;
}

.c4i-fileviewer-variabletype{
  width:60px;
  display:inline-block;
  font-weight:normal;
}

.c4i-fileviewer-variablename{
  
  display:inline-block;
  font-weight:normal;
}

.c4i-fileviewer-vardimension{
  float:right;
  
  margin-right:5px;
  font-weight:normal;
}

.c4i-fileviewer-adagucviewershow{
    float:right;

  margin-right:2px;
  font-weight:bold;
 cursor: pointer;
   text-decoration: underline;
 
}



.c4i-fileviewer-adagucview, .c4i-fileviewer-wms, .c4i-fileviewer-wcs, .c4i-fileviewer-opendap, .c4i-fileviewer-wms a, .c4i-fileviewer-wcs a, .c4i-fileviewer-opendap a{
  padding:3px; 
  color:white;
  font-weight:bold;
}

.c4i-fileviewer-adagucview:hover, .c4i-fileviewer-wms:hover, .c4i-fileviewer-wcs:hover, .c4i-fileviewer-opendap:hover, .c4i-fileviewer-wms:hover a, .c4i-fileviewer-wcs:hover a, .c4i-fileviewer-opendap:hover a  {
    background-color: #E8F8FF;
  color:black;
  font-weight:bold;

}

.c4i-fileviewer-previewstyle{
  background-color: #444;
  color:white;
  font-weight:normal;
  border:1px solid gray;
  margin:2px;
  padding:3px;
  height:264px;
  vertical-align:middle;
  line-height:260px;
 cursor: pointer;
}

.c4i-fileviewer-previewstyle img{
  vertical-align:middle;
    
}

.c4i-fileviewer-containerdialog, .c4i-fileviewer-containerdialog .ui-dialog-content{

  margin:0px;
  padding:0px;
}


.c4-fileviewer-variable-error{
  background-color:#FFE0E0;
  padding:10px;
}


.c4i-fileviewer-spanlink{
  color:blue !important;
 cursor: pointer;
}

.c4i-fileviewer-spanlink a{
  color:blue !important;
 cursor: pointer;
}