<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>climate4impact-portal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ImpactService</display-name>
    <servlet-name>ImpactService</servlet-name>
    <servlet-class>impactservice.ImpactService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImpactService</servlet-name>
    <url-pattern>/ImpactService/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TokenAPI</servlet-name>
    <url-pattern>/tokenapi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImpactService</servlet-name>
    <url-pattern>/basket/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownscalingService</display-name>
    <servlet-name>DownscalingService</servlet-name>
    <servlet-class>downscaling.DownscalingService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownscalingService</servlet-name>
    <url-pattern>/DownscalingService/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsumerServlet</display-name>
    <servlet-name>ConsumerServlet</servlet-name>
    <servlet-class>openidhandling.ConsumerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumerServlet</servlet-name>
    <url-pattern>/consumer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHTTPUrl</display-name>
    <servlet-name>GetHTTPUrl</servlet-name>
    <servlet-class>tools.DoHTTPRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHTTPUrl</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenIdReturn</display-name>
    <servlet-name>OpenIdReturn</servlet-name>
    <servlet-class>openidhandling.OpenIdReturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenIdReturn</servlet-name>
    <url-pattern>/OpenIdReturn</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error_404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>AdagucViewer</display-name>
    <servlet-name>AdagucViewer</servlet-name>
    <servlet-class>ogcservices.AdagucViewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdagucViewer</servlet-name>
    <url-pattern>/AdagucViewer/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADAGUCServer</display-name>
    <servlet-name>ADAGUCServer</servlet-name>
    <servlet-class>ogcservices.AdagucServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADAGUCServer</servlet-name>
    <url-pattern>/adagucserver/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PyWPSServer</display-name>
    <servlet-name>PyWPSServer</servlet-name>
    <servlet-class>ogcservices.PyWPSServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PyWPSServer</servlet-name>
    <url-pattern>/WPS/*</url-pattern>
    <url-pattern>/wps/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>extjslocation</param-name>
    <param-value>/impactportal/js/extjs-4.2.1.883/</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FileUploadHandler</display-name>
    <servlet-name>FileUploadHandler</servlet-name>
    <servlet-class>impactservice.FileUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadHandler</servlet-name>
    <url-pattern>/FileUploadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DapServlet</display-name>
    <servlet-name>DapServlet</servlet-name>
    <servlet-class>opendap.DapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DapServlet</servlet-name>
    <url-pattern>/DAP/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>impactportal</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>GetDownloadScriptHandler</display-name>
    <servlet-name>GetDownloadScriptHandler</servlet-name>
    <servlet-class>impactservice.GetDownloadScriptHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDownloadScriptHandler</servlet-name>
    <url-pattern>/GetDownloadScriptHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OAuth2Servlet</display-name>
    <servlet-name>OAuth2Servlet</servlet-name>
    <servlet-class>oauth2handling.OAuth2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuth2Servlet</servlet-name>
    <url-pattern>/oauth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ESGFSearchServlet</display-name>
    <servlet-name>ESGFSearchServlet</servlet-name>
    <servlet-class>esgfsearch.ESGFSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ESGFSearchServlet</servlet-name>
    <url-pattern>/esgfsearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CLIPCTokenAPI</display-name>
    <servlet-name>CLIPCTokenAPI</servlet-name>
    <servlet-class>tokenapi.CLIPCTokenAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CLIPCTokenAPI</servlet-name>
    <url-pattern>/clipctokenapi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TokenAPI</display-name>
    <servlet-name>TokenAPI</servlet-name>
    <servlet-class>tokenapi.TokenAPI</servlet-class>
  </servlet>
  <session-config>
    <session-timeout>720</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>PROV</display-name>
    <servlet-name>PROV</servlet-name>
    <servlet-class>provenance.PROV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PROV</servlet-name>
    <url-pattern>/PROV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownscalingSearch</display-name>
    <servlet-name>DownscalingSearch</servlet-name>
    <servlet-class>downscaling.DownscalingSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownscalingSearch</servlet-name>
    <url-pattern>/DownscalingSearch</url-pattern>
  </servlet-mapping>
</web-app>