
.c4i-esgfsearch-selectfacet{
  margin:0px 3px 0px 3px;
  padding:2px  !important;
  
  border:1px solid #aaaaaa !important;
  border-radius:0px;
   background:#D0DbDb  !important;
}

.c4i-esgfsearch-selectfacet-container{
  margin:6px 3px 2px 3px;
  
}


.c4i-esgfsearch-property-tabs{
  border:none !important;
   background:white  !important;
   margin:6px 0px 0px 0px;
   padding:0px 2px 3px 2px;
}



.c4i-esgfsearch-selectedelementlist{
  margin:0px;
  padding:0px;
}

.c4i-esgfsearch-roundedborder{
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright:3px;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}

.c4i-esgfsearch-facets{
  padding:1px 6px 1px 6px;
  margin:2px;
  border:1px solid black;
  cursor: pointer; 
  line-height:25px;
  background-color: #444;
  color:white;
  display:inline-block;
}

.c4i-esgfsearch-facets:hover  {
  background-color: #8F8;
  color:black;
 
}

.c4i-esgfsearch-facets-selectmoreless{
  background-color: #77F;

}

.c4i-esgfsearch-facetselected{
  background-color: #D8E8FC;
  border:1px solid #7DA2CE;
  color:black;
  font-weight:bold;
}

.c4i-esgfsearch-facetselected:hover{
  background-color:#FFFF80;
 border:1px solid #6D82aE;
}

.c4i-esgfsearch-facetchoosed{
  background-color:#8E8;
  color:black;
  font-weight:bold;
}

.c4i-esgfsearch-facetdisabled{
  background-color:#888;
  border:1px solid #888;
}

.c4i-esgfsearch-property{
  padding:0px 16px 0px 16px;
  margin:0px;
  overflow:hidden;
  cursor: pointer; 
  line-height:25px;
  background-color: #FFF;
  color:black;
  display:block;
  border-bottom:1px solid #DDD;
  vertical-align:bottom;
  /*border-left:1px solid #DDD;
  border-right:1px solid #DDD;
  border-bottom:1px solid #FFF;*/
}

.c4i-esgfsearch-property-checkbox{
  margin-top:2px !important;
}

.c4i-esgfsearch-property-even{
   background-color: #ebeFFF;
}

.c4i-esgfsearch-property-odd{
  background-color:#ebeFFF ;
}

.c4i-esgfsearch-property:hover  {
  background-color: #E8F8FF;
  color:black;
/*   border:1px solid #999;*/

}
.c4i-esgfsearch-property-selected{
  background-color: #D8E8FC;
  font-weight:bold;
}



.c4i-esgfsearch-property-selected:hover{
  background-color:#C8D8FF;
  font-weight:bold;
}

.c4i-esgfsearch-property-disabled{
  color:#888 !important;
 text-decoration: line-through;
  font-weight:normal;
 
}
.c4i-esgfsearch-property-disabled:hover{
 /*color:gray;
  font-weight:normal;*/
}

.c4i-esgfsearch-property-container{
  overflow:auto;
  max-height:170px;
  margin:0px;
  padding:5px;
   border:1px solid #668;
   border-radius:0px;

     
}

/* Field 1 on top showing all selected elements */
.c4i-esgfsearch-selectedelements{
  /*background-color:#D9FFD4;*/
  /*padding:10px;
  margin-bottom:2px;*/
 /*  border:1px solid #91847C; */
}

/*Field 2 Middle component */
.facetOverview{
  /* background-color:#DCD9FF; */
  /* border:1px solid #91847C; */
}

/*Field 3 Bottom component displaying search results*/
.c4i-esgfsearch-results{
  /* background-color:#FFDAC3; */
  /* border:1px solid #91847C; */ 
}

.c4i-esgfsearch-resultlist{
  overflow:auto;
  /*max-height:260px;*/
  margin:0px;padding:0px;
/*  border:1px solid #668;*/
  background-color:#FFF; 
}

.c4i-esgfsearch-resultitem{
 padding:0px;
 margin:0px;
 overflow:hidden;
 
 line-height:16px;

 background-color: #FFF;
 color:black;
 display:block;
 /*border-top:1px solid #DDD;
 border-left:1px solid #DDD;
 border-right:1px solid #DDD;*/
 border-bottom:1px solid #DDD;
}

.c4i-esgfsearch-resultitem-checking{
   background-color: #999;
}

.c4i-esgfsearch-resultitem-ok{
   background-color: #FFF;
}

.c4i-esgfsearch-resultitem-wrong{
   background-color: #F88;
}

/*
.c4i-esgfsearch-resultitem:hover  {
  background-color: #D0FFD0;
  color:black;
}*/


.c4i-esgfsearch-resultitem-content{
  line-height:32px;
   display:inline-block;
}


.c4i-esgfsearch-property-buttonapply{
border:1px solid black;
margin:6px 0px 0px 6px;
}

.c4i-esgfsearch-property-buttonapply span{
  background-color:#444;
  color:white;
  border-radius:3px;
  
}
.c4i-esgfsearch-property-buttonapply span:hover  {
  background-color: #8F8;
  color:black;
  
}

.c4i-esgfsearch-buttonremovefilterproperty{
  height:20px;
  width:20px;
  line-height:15px;
  padding:0px;
  margin:0px;
}


.c4i-esgfsearch-loader{
  background-image:url("../images/ajax-loader.gif") !important;
  width:32px;
  height:32px;
}


.c4i-esgfsearch-autocomplete{
  margin:6px 0 2px 6px;

}

.c4i-esgfsearch-searchautocomplete{
    border-radius:2px;
  border-width:1px;
padding:5px;
    
}



.c4i-esgfsearch-checkbox
{
    background-position: 0px 0px;
}

.c4i-esgfsearch-checkboxclear
{
    background-position: -21px 0px;
}

.c4i-esgfsearch-checkbox, .c4i-esgfsearch-checkboxclear
{
    background-image: url('../images/esgfsearch-checkbox.png');
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    width: 21px;
    height: 21px;
    padding: 0px;
    margin: 2px 0px 2px 0px;
    
    overflow:visible;
    vertical-align:middle;

}



.esgfsearch-ppc-main{
background:black;
padding:4px;
margin:0px;
   display:block;
     line-height:0px;
text-align:center;
     
}

.esgfsearch-ppc-tile{
  width:200px;
  height:170px;
  display:inline-block;
   overflow:hidden;
    cursor: pointer; 
    margin:6px;
    padding:0px;
    border:none;
    color:white;
}

.esgfsearch-ppc-tile:hover{

    color:white;
}


.esgfsearch-ppc-tile-disabled{
  color:#BBB;
   text-decoration: line-through;
}
.esgfsearch-ppc-tile-disabled:hover{
  color:#BBB;
   text-decoration: line-through;
}

.esgfsearch-ppc-tileheader{
  width:100%;
  height:28px;
  line-height:28px;
  font-weight:bold;
  font-size:20px;

  text-align:center;
  border-bottom:1px solid white;
 cursor: pointer; 
 vertical-align:middle;
}

.esgfsearch-ppc-tileproperty{
  text-align:left;background:none;border:none;line-height:20px;padding:0px;color:white;
  height:19px;
  padding:0px;
  margin:0px;
  overflow:hidden;
}

.esgfsearch-ppc-tileproperty span{
   margin:0px;
}

.esgfsearch-ppc-tilebody{

line-height:16px;
 cursor:hand;
  padding:2px 5px 2px 5px;
 
     text-align:center;
     word-wrap: break-word;
   
      white-space:pre-wrap;
      
       text-decoration: none;
 
}


.c4i-esgfsearch-tabmain{
  margin:0px;padding:0px;
}

.c4i-esgfsearch-tab{
  display:inline-block;
  border:1px solid #668;
  
  border-radius: 5px 5px 0px 0px;
  background:#C8C8CF;
  font-weight:normal;
  width:210px;
  height:24px;
  text-align:center;
  line-height:24px;
  margin-right:5px;
  color:#333;
  
  margin-bottom:-1px;


}


.c4i-esgfsearch-tab-selected{
  background-color: #FFF;
  color:black;
  font-weight:bold;
  border-bottom:1px solid white;
}

.c4i-esgfsearch-tab-selected:hover{
  background-color: #FFF !important;
  color:black;
  font-weight:bold;
}

.c4i-esgfsearch-tab:hover{
   background-color: #8F8;
  display:inline-block;
  color:black;
 
}

.c4i-esgfsearch-tabcontainer{
   background-color:#FFF;
 border:1px solid #668;
 padding:0px;
  
}

.c4i-esgfsearch-dataset-baseimage{

  width:32px;
  height:32px;
  line-height:0px;
  display:inline-block;
  cursor: pointer; 
  margin:1px 0px 1px 2px;
  padding:0px;
  float:left;
   overflow: hidden;


}
.c4i-esgfsearch-dataset-baseimage:hover{
    opacity: 0.4;
    /*filter: k(opacity=40); *//* For IE8 and earlier */
}


.c4i-esgfsearch-dataset-imgcollapsed{
    background-image:url("../images/icon_right.png") !important;
}
.c4i-esgfsearch-dataset-imgexpand{
    background-image:url("../images/icon_down.png") !important;
}

.c4i-esgfsearch-dataset-imgchecked{
    background-image:url("../images/icon_checkboxchecked.png") !important;
}
.c4i-esgfsearch-dataset-imgunchecked{
    background-image:url("../images/icon_checkboxunchecked.png") !important;
}

.c4i-esgfsearch-dataset-process{
    background-image:url("../images/icon_calculator.png") !important;
}

.c4i-esgfsearch-dataset-download{
    background-image:url("../images/icon_download.png") !important;
}

.c4i-esgfsearch-dataset-expandedarea{
  margin:0px 0px 1px 17px;
  padding:5px;
  background-color:#FFF;
  /*border-top:1px solid #AAB;
  border-left:1px solid #AAB;
  border-bottom:1px solid #AAB;*/
 /* border-bottom:2px solid #DDD;*/
  display:block;
    background-color:#FFF;
}
.c4i-esgfsearch-dataset-catalogurl{
  margin:5px;
  line-height:20px;
  height:20px;
  font-weight: bold; 
 
}
.c4i-esgfsearch-dataset-catalogdetails{
  /* display:block;
   margin:0px;*/
   background-color:#FFF;
}

.c4i-catalogbrowser-variableandtextfilter{
  margin:4px;
}

.c4i-catalogbrowser-table  {
    border-collapse: collapse;
    width: 100%;

    border-spacing: 0;
}

.c4i-catalogbrowser-table th, .c4i-catalogbrowser-table td {
  border: 1px solid #ddd;
  padding: 3px 8px 3px 8px;
  text-align: left;
    text-align: left;
    padding: 8px;
    vertical-align: middle;
}




.c4i-catalogbrowser-table tr:nth-child(even){background-color: #f5f5f5}



/*.c4i-catalogbrowser-table tr:hover {background-color: #f0f0f0 !important}*/

.c4i-catalogbrowser-table th{
     background: none repeat scroll 0 0 #428bca;
  
  
    color: white;
    font-size: 16px;
    font-weight: bold;
  
  
}

.c4i_esgfsearch_help{
	float:right;
	margin:20px;
	height:25px;
	line-height:25px;
}

.c4i-esgfsearch-containerdialog, .c4i-esgfsearch-containerdialog .ui-dialog-content{

  margin:0px;
  padding:0px;
}


