
.esgfsearch-selectfacet{
  margin:5px 0px 5px 0px;
}

.esgfsearch-selectedelementlist{
  margin:0px;
  padding:0px;
}

.esgfsearch-roundedborder{
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright:3px;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}

.esgfsearch-facets{
  padding:1px 6px 1px 6px;
  margin:2px;
  border:1px solid black;
  cursor: pointer; cursor: hand;
  line-height:25px;
  background-color: #444;
  color:white;
  display:inline-block;
}

.esgfsearch-facets:hover  {
  background-color: #8F8;
  color:black;
}

.esgfsearch-facetselected{
  background-color: #D8E8FC;
  border:1px solid #7DA2CE;
  color:black;
}

.esgfsearch-facetselected:hover{
  background-color:#FFFF80;
 border:1px solid #6D82aE;
}

.esgfsearch-facetdisabled{
  background-color:#888;
  border:1px solid #888;
}

.esgfsearch-property{
  padding:0px 16px 0px 16px;
  margin:0px;
  overflow:hidden;
  cursor: pointer; cursor: hand;
  line-height:25px;
  background-color: #FFF;
  color:black;
  display:block;
  border-top:1px solid #DDD;
  border-left:1px solid #DDD;
  border-right:1px solid #DDD;
  border-bottom:1px solid #FFF;
}

.esgfsearch-property-even{
   background-color: #FFF;
}

.esgfsearch-property-odd{
  background-color:#FFF ;
}

.esgfsearch-property:hover  {
  background-color: #D0FFD0;
  color:black;
/*   border:1px solid #999;*/

}
.esgfsearch-property-selected{
  background-color: #D8E8FC;
}

.esgfsearch-property-selected:hover{
  background-color:#FFFF80;
}

.esgfsearch-property-container{
   overflow:auto;
   max-height:150px;
   margin:2px;
   border:1px solid #668;
}

/* Field 1 on top showing all selected elements */
.esgfsearch-selectedelements{
  /*background-color:#D9FFD4;*/
  /*padding:10px;
  margin-bottom:2px;*/
 /*  border:1px solid #91847C; */
}

/*Field 2 Middle component */
.facetOverview{
  /* background-color:#DCD9FF; */
  /* border:1px solid #91847C; */
}

/*Field 3 Bottom component displaying search results*/
.esgfsearch-results{
  /* background-color:#FFDAC3; */
  /* border:1px solid #91847C; */ 
}

.esgfsearch-resultlist{
  overflow:auto;
  max-height:260px;
  border:1px solid #668;
  background-color:#FFF; 
}

.esgfsearch-resultitem{
 padding:0px 16px 0px 16px;
 margin:0px;
 overflow:hidden;
 cursor: pointer; cursor: hand;
 line-height:20px;
 background-color: #FFF;
 color:black;
 display:block;
 border-top:1px solid #DDD;
 border-left:1px solid #DDD;
 border-right:1px solid #DDD;
 border-bottom:1px solid #FFF;
}

.esgfsearch-resultitem-checking{
   background-color: #999;
}

.esgfsearch-resultitem-ok{
   background-color: #FFF;
}

.esgfsearch-resultitem-wrong{
   background-color: #F88;
}

.esgfsearch-resultitem:hover  {
  background-color: #D0FFD0;
  color:black;
}




.esgfsearch-property-buttonapply{
float:right;
}

.esgfsearch-buttonremovefilterproperty{
  height:20px;
  width:20px;
  line-height:15px;
  padding:0px;
  margin:0px;
}


.esgfsearch-loader{
  background-image:url("ajax-loader.gif") !important;
  width:32px;
  height:32px;
}

