/*All components should be put in here */
.simplecomponent-container{
   background: white; 
  border: 1px solid white;
  border-radius: 1px;
  padding: 0px;
  
}

.simplecomponent{
 
  margin:2px 2px 12px 2px;

}

.simplecomponent-header{
  font-weight: normal;
  background:#428bca;
  font-size:16px;
  color:white;
   /*background: rgba(0,0,0,.30);*/
  border-bottom-style:solid;
  border-color:#91847C;
  border-bottom-width:1px;
   padding:2px 6px 1px 6px;
   height:24px;
   line-height:24px;
   display:block;
}

.simplecomponent-body{
  padding:6px 6px 6px 6px;
  height:100%;
  background:#e0ebeb;
}

.simplecomponent-footer{
}